.lead {
  max-width: 984px;
  margin: 56px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: calc(100% - 48px * 2);
    margin: 48px 48px 0;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
