.header {
    display: flex;
    max-width: calc(100% - 96px);
    justify-content: space-between;
    margin: 28px 48px 0;
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: calc(100% - 48px);
        margin: 16px 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-width: calc(100% - 32px);
        margin: 16px 16px 0;
    }
}
