.header {
    display: flex;
    width: calc(100% - 96px);
    margin: 0;
    justify-content: space-between;
    padding: 28px 48px 0;
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 48px);
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: calc(100% - 32px);
        padding: 16px 16px 0;
    }
}